---
http_interactions:
- request:
    method: get
    uri: https://crmsandbox.zoho.com/crm/private/json/Contacts/getRecords?authtoken=dummy_api_key&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"result":{"Contacts":{"row":[{"no":"1","FL":[{"val":"CONTACTID","content":"2033736000000873175"},{"val":"SMOWNERID","content":"2033736000000153004"},{"val":"Contact
        Owner","content":"Martin Nicholas"},{"val":"Lead Source","content":"Registered
        on MarketDojo.com"},{"val":"First Name","content":"Test"},{"val":"Last Name","content":"Test"},{"val":"ACCOUNTID","content":"2033736000000537048"},{"val":"Account
        Name","content":"CIS"},{"val":"Email","content":"signuptest7547@testt.com"},{"val":"Phone","content":"9179979771"},{"val":"SMCREATORID","conten[...]
