---
http_interactions:
- request:
    method: post
    uri: https://crmsandbox.zoho.com/crm/private/json/Contacts/insertRecords
    body:
      encoding: UTF-8
      string: xmlData=%3CContacts%3E%0A%20%20%3Crow%20no%3D%221%22%3E%0A%20%20%20%20%3CFL%20val%3D%22First%20Name%22%3EJohnny%3C%2FFL%3E%0A%20%20%20%20%3CFL%20val%3D%22Last%20Name%22%3EDepp%3C%2FFL%3E%0A%20%20%3C%2Frow%3E%0A%3C%2FContacts%3E%0A&newFormat=1&authtoken=dummy_api_key&scope=crmapi
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"result":{"recorddetail":{"FL":[{"val":"Id","content":"2033736000000879001"},{"val":"Created
        Time","content":"2018-12-10 16:18:23"},{"val":"Modified Time","content":"2018-12-10
        16:18:23"},{"val":"Created By","content":"Martin Nicholas"},{"val":"Modified
        By","content":"Martin Nicholas"}]},"message":"Record(s) added successfully"},"uri":"/crm/private/json/Contacts/insertRecords"}}

'
  recorded_at: Mon, 10 Dec 2018 16:18:24 GMT
recorded_with: VCR 4.0.0
