---
http_interactions:
- request:
    method: get
    uri: https://crmsandbox.zoho.com/crm/private/json/Contacts/getSearchRecords?authtoken=dummy_api_key&scope=crmapi&searchCondition=(Contact%20Name%7Cends%20with%7CDoe3)&selectColumns=All
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"result":{"Contacts":{"row":{"no":"1","FL":[{"val":"CONTACTID","content":"2033736000000880015"},{"val":"SMOWNERID","content":"2033736000000152015"},{"val":"Contact
        Owner","content":"James Duerden"},{"val":"Last Name","content":"Doe3"},{"val":"SMCREATORID","content":"2033736000000152015"},{"val":"Created
        By","content":"James Duerden"},{"val":"MODIFIEDBY","content":"2033736000000152015"},{"val":"Modified
        By","content":"James Duerden"},{"val":"Created Time","content":"2018-12-10
        16:26:53"},{"val":"Modified Time","content":"2018-12-10 16:26:53"},{"val":"Full
        Name","content":"Doe3"},{"val":"Email Opt Out","content":"false"},{"val":"Score","content":"0"},{"val":"Positive
        Score","content":"0"},{"val":"Negative Score","content":"0"},{"val":"Positive
        Touch Point Score","content":"0"},{"val":"Touch Point Score","content":"0"},{"val":"Negative
        Touch Point Score","content":"0"},{"val":"Left Company","content":"false"},{"val":"Cost
        per Click","content":"0"},{"val":"Cost per Conversion","content":"0"},{"val":"Inbound
        Marketing Lead","content":"false"},{"val":"Superhost","content":"false"}]}}},"uri":"/crm/private/json/Contacts/getSearchRecords"}}

'
  recorded_at: Mon, 10 Dec 2018 16:27:23 GMT
recorded_with: VCR 4.0.0
