---
http_interactions:
- request:
    method: get
    uri: https://crmsandbox.zoho.com/crm/private/json/Contacts/getSearchRecords?authtoken=dummy_api_key&scope=crmapi&searchCondition=(Contact%20Name%7Cends%20with%7CDepp)&selectColumns=All
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"result":{"Contacts":{"row":{"no":"1","FL":[{"val":"CONTACTID","content":"2033736000000879001"},{"val":"SMOWNERID","content":"2033736000000153004"},{"val":"Contact
        Owner","content":"Martin Nicholas"},{"val":"First Name","content":"Johnny"},{"val":"Last
        Name","content":"Depp"},{"val":"SMCREATORID","content":"2033736000000153004"},{"val":"Created
        By","content":"Martin Nicholas"},{"val":"MODIFIEDBY","content":"2033736000000153004"},{"val":"Modified
        By","content":"Martin Nicholas"},{"val":"Created Time","content":"2018-12-10
        16:18:23"},{"val":"Modified Time","content":"2018-12-10 16:18:23"},{"val":"Full
        Name","content":"Johnny Depp"},{"val":"Email Opt Out","content":"false"},{"val":"Score","content":"0"},{"val":"Positive
        Score","content":"0"},{"val":"Negative Score","content":"0"},{"val":"Positive
        Touch Point Score","content":"0"},{"val":"Touch Point Score","content":"0"},{"val":"Negative
        Touch Point Score","content":"0"},{"val":"Left Company","content":"false"},{"val":"Cost
        per Click","content":"0"},{"val":"Cost per Conversion","content":"0"},{"val":"Inbound
        Marketing Lead","content":"false"},{"val":"Superhost","content":"false"}]}}},"uri":"/crm/private/json/Contacts/getSearchRecords"}}

'
  recorded_at: Mon, 10 Dec 2018 16:25:49 GMT
- request:
    method: get
    uri: https://crmsandbox.zoho.com/crm/private/json/Contacts/getSearchRecords?authtoken=dummy_api_key&scope=crmapi&searchCondition=(Contact%20Name%7Cends%20with%7CWeismuller)&selectColumns=All
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"nodata":{"code":"4422","message":"There is no data to
        show"},"uri":"/crm/private/json/Contacts/getSearchRecords"}}

'
  recorded_at: Mon, 10 Dec 2018 16:25:51 GMT
recorded_with: VCR 4.0.0
